<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <base href="http://localhost/wetransfer_like/"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel="icon" href="assets/medias/logo.png" type="image/png" />
  <link rel="stylesheet" href="assets\styles\main.css"> {% block title %}{% endblock %}
</head>

<body>
  <div id="background" class="background-image">
    <header>
      <div class="wrap-logo">
        <a href="home">
          <img src="assets/medias/logo.png" />
          <p>Wetransfer Like</p>
        </a>
      </div>
    </header>
    <main>

      {% block content %} {% block message %} {% endblock %} {% block link %} {% endblock %} {% endblock %}



    </main>
  </div>
    <footer>
      <p>© Charlotte, Tom, Mehdi, Jérémy</p>
    </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  

  
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  {% block script %} {% endblock script %}
</body>

</html>